body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4 { margin: 0; padding: 0; }

.App_cover {
  width: 900px; margin: 0 auto;
}

.navPar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f2f6;
}
.logo {
  color: #df0e3a; font-size:22px;
}
.linkPar {
  margin-left: auto; font-size:17px;
}
.linkPar > a {
  margin: 0 10px; color: #0056b6; text-decoration: none;
}

/*--start-- the styling for the blog */
.mkO_Bg_cvr {
  display: block; position: relative; overflow: hidden;
  margin: 20px 0 40px; font-size: 17px;
}
.mkEchBg {
  padding: 10px 1%; margin: 10px 1.5%; float: left; width: 45%;
  background-color: #f1f2f6;
}
.mkEBtn { margin: 10px 0 0; }
.mkEBtn button { padding: 6px 10px; color: #000; font: size 13px; font-weight: bold; }

.Loading { text-align: center; font-size: 40px; margin: 30px 0 0; color: #0056b6; }
/*--end-- */