body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4, p { margin: 0; padding: 0; }
a { color: inherit; text-decoration:none; }
a:hover { text-decoration:underline; }

.App_cover {
  width: 900px; margin: 0 auto;
}

.navPar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f2f6;
}
.logo {
  color: #df0e3a; font-size:22px;
}
.linkPar {
  margin-left: auto; font-size:17px;
}
.linkPar > a {
  margin: 0 10px; color: #0056b6; text-decoration: none;
}

/*--start-- the styling for the blog */
.mkO_Bg_cvr {
  display: block; position: relative; overflow: hidden;
  margin: 20px 0 40px; font-size: 17px;
}
.mkEchBg {
  padding: 10px 1%; margin: 10px 1.5%; float: left; width: 45%;
  background-color: #f1f2f6;
}
.mkEBtn { margin: 10px 0 0; }
.mkEBtn button { padding: 6px 10px; color: #000; font: size 13px; font-weight: bold; }

.Loading { text-align: center; font-size: 40px; margin: 30px 0 0; color: #0056b6; }
.errMan { text-align: center; font-size: 40px; margin: 30px 0 0; color: #df0e3a; }
.errMan:after { content:'!'; position: relative; overflow: hidden; }
/*--end-- */

/*--start-- blog details page */
.container { margin: 30px 0 0; }
.Bgh_title { text-align: center; font-size:20px; }
.Bgh_author { text-align: center; font-size:17px; margin: 10px 0 0; color: #000; }
.bgh_body { color: #000; font-size:14px; line-height:1.4; margin: 20px 0 50px; }
/*--end-- */

/*--start-- blog details page */
.frm_Cvr {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 30px 0 70px;
}
.frm_inj2 { margin: 20px 0 0; }
.frm_cnt { padding: 10px 0; }
.frm_cnt > p { padding: 5px 0; }
.frm_cnt input, .frm_cnt textarea, .frm_cnt select {
  width: 250px; padding: 9px 10px; background: #f1f2f6; border: 0; font-size: 15px; border-radius: 2px;
}
.frm_cnt textarea{ width: 450px; height:150px; }
.frm_cnt input:focus { outline: 0; }
.frm_btn { padding: 10px 0; }
.frm_btn button {
  padding: 10px 15px; border-radius: 3px; background: #0056b6; color: #fff; border: 0;
  font-size: 14px; font-weight: bold; cursor: pointer; box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.frm_btn button:hover { box-shadow:none; }
.frm_btn button:active { position: relative; top: 1px;}
.poper { opacity: 0.5; cursor: default; }
  /*--end-- */