body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App_cover {
  width: 900px; margin: 0 auto;
}

.navPar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f2f6;
}
.logo {
  color: #df0e3a; font-size:22px;
}
.linkPar {
  margin-left: auto; font-size:17px;
}
.linkPar > a {
  margin: 0 10px; color: #0056b6; text-decoration: none;
}

/*--start-- the styling for the blog */
.mkO_Bg_cvr {
  margin: 10px 0; font-size: 17px;
}
.mkEchBg {
  padding: 10px 1%; margin: 10px 1.5%; float: left; width: 45%;
  background-color: #f1f2f6;
}
/*--end-- */